.sidebar.sidebar.collapsed ~ .main-content {
    margin-left: 60px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.orders {
    display: flex;
    gap: 15px;
}

.order {
    background:   rgb(143, 99, 99) ;
    box-shadow: 5px 5px 15px rgb(34, 33, 33);
    color: rgb(248, 201, 201);
    padding: 15px;
    flex: 1;
    flex-wrap: nowrap;
    font-size: 1.2rem;
    border-radius: 10px;
}

#blue {
    color: rgb(121, 121, 241);
}

#orange {
    color: rgb(241, 147, 113);
}

#green {
    color: green;
}
