* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes slideUpPage {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

body {
  background: #f5f6fa;
  animation: slideUpPage 0.9s ease-out forwards;
  font-family: Arial, sans-serif;
}

/* Sidebar */
.sidebar {
  position: sticky;
  left: 0;
  top: 0;
  width: 220px;
  height: 100vh;
  background-color: #fff;
  padding: 20px 15px;
  transition: width 0.3s ease;
  overflow-y: auto;
  z-index: 1000;
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.05);
}

.sidebar-header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 30px;
  padding-left: 8px;
}

.sidebar-header button {
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.app-name {
  font-size: 20px;
  font-weight: bold;
  color: #007bff;
  padding-left: 0.8rem;
}

.menu li {
  list-style: none;
  margin-bottom: 15px;
}

.menu li a {
  font-size: 1rem;
  text-decoration: none;
  color: #555;
  display: block;
  padding: 10px 15px;
  border-radius: 6px;
  transition: background 0.3s, color 0.3s;
}

.menu li a:hover,
.menu li a.active {
  background: #007bff;
  color: #fff;
}

.sidebar.collapsed {
  width: 60px;
}

.sidebar.collapsed .menu li a {
  opacity: 0;
  pointer-events: none;
}

.main-content {
  /* margin-left: 220px; */
  transition: margin-left 0.3s ease;
  padding: 20px;
  animation: slideUpPage 0.9s ease-out forwards;
  opacity: 0;
  width: 100%;
}

.main{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;


}
