 body {
      margin: 0;
      font-family: 'Segoe UI', sans-serif;
      background: linear-gradient(to right, #f1f4f9, #e0eafc);
      padding: 20px;
      background:  rgb(194, 191, 191) ;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh
    }
  
  .sidebar.sidebar.collapsed ~ .order-container {
      margin-left: 60px;
  }
  

    .order-container {
      max-width: 1500px;
      margin: auto;
      margin-left: 220px;
      transition: margin-left 0.5s ease;
    }

    .controls {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      margin-bottom: 25px;
    }

    .controls input,
    .controls select {
      padding: 12px 14px;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 16px;
      width: 100%;
      max-width: 300px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    }

    .cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
      gap: 20px;
    }

    .order-card {
      background: rgb(143, 99, 99) ;
      padding: 20px;
      border-radius: 15px;
      border-left: 6px solid #047cfd;
      box-shadow: 0 4px 10px rgba(0,0,0,0.06);
      transition: all 0.3s ease;
    }

    .order-card:hover {
      transform: scale(1.02);
    }

    .order-card h3 {
      margin: 0 0 10px;
      color: #333;
    }

    .order-card p {
      margin: 6px 0;
      color:  rgb(248, 201, 201);
    }

    .badge {
      display: inline-block;
      margin-top: 10px;
      padding: 6px 14px;
      border-radius: 20px;
      font-size: 14px;
      font-weight: 600;
      color: white;
    }

    .badge.delivered {
      background: #28a745;
    }
    .badge.transit {
      background: #ffc107;
      color: #333;
    }
    .badge.pending {
      background: #6c757d;
    }
    .badge.cancelled {
      background: #dc3545;
    }