* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar.sidebar.collapsed ~ .main-content {
    margin-left: 60px;
}

.reports {
    display: flex;
    margin: 20px;
    gap: 20px;
}

.report {
    background:  rgb(143, 99, 99) ;
    box-shadow: 5px 5px 15px rgb(34, 33, 33);
    color: rgb(248, 201, 201);
    padding: 15px;
    flex: 1;
    flex-wrap: wrap;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

.report button {
    padding: 5px;
    border-radius: 10px;
    border: none;
    background: pink;
    color: rgb(102, 102, 64);
    cursor: pointer;
}

